---
import Basic from "../layouts/Basic.astro";
// Here's to import Astro-basesd JS
const {pageTitle} = Astro.props;
---

<Basic pageTitle="Blog">
    <p>Here's the Blog page (probably)</p>
</Basic>

<style>
    body {
        color: #999;
    }
    p {
        color: #555;
    }
</style>

<script>
    // Here's for Static JS
</script>