---
import Basic from "../layouts/Basic.astro";
const {pageTitle} = Astro.props;
const CompanyName = "A tiny company";
---

<Basic pageTitle="Topぺーじ">
	<p>Here's the Toppage of {CompanyName}</p>
	<p>shabadabaドゥビドゥバshabadabaドゥビドゥバshabadabaドゥビドゥバshabadabaドゥビドゥバ</p>
</Basic>
